@font-face {
    font-family: 'mulish-100';
    src: url('../font/Mulish-Light.woff2') format('woff2'),
        url('../font/Mulish-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'mulish-300';
    src: url('../font/Mulish-Regular.woff2') format('woff2'),
        url('../font/Mulish-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'mulish-400';
    src: url('../font/Mulish-Medium.woff2') format('woff2'),
        url('../font/Mulish-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'mulish-500';
    src: url('../font/Mulish-SemiBold.woff2') format('woff2'),
        url('../font/Mulish-SemiBold.ttf') format('truetype');
}

/* =============================================== */


.block_2 {
    padding: 64px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
}

.tab-label {
    color: white;
    font-family: 'mulish-100';
    font-weight: 100;
    font-size: 2rem;
    text-decoration: none;
}

.tab-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }

.tab-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.tab-wrapper .tab-item, .tab-wrapper input {
    display: none;
}

.tab-wrapper .tab-item {
    order: 1;
    }

.tab-wrapper label {
    max-width: 15%;
    padding: 10px;
    text-align: center;
    color: white;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
    cursor: pointer;
    transition: .3s;
  }
  
.tab-wrapper input:checked + label {
    color: #FF447C;
  }

.tab-wrapper input:hover + label {
    color: #FF447C;
  }

.tab-wrapper input:checked + label + .tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

.card_portfolio {
    width: 407px;
    position: relative;
}

.pic_portfolio {
    width: 407px;
    height: 407px;
    display: block;
}

.pic_portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_portfolio:hover .card_img {
    transition: .3s;
    transform: scale(102%);
}

.card_portfolio_title_black {
    font-family: 'mulish-300';
    font-weight: 300;
    color: black;
    font-size: 1.2rem;
    position: absolute;
    top: 20px;
    left: 20px;
}

.bottom_card_text_black {
    font-family: 'mulish-100';
    font-weight: 100;
    color: black;
}

.card_portfolio_title_white {
    font-family: 'mulish-300';
    font-weight: 300;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 20px;
    left: 20px;
}

.bottom_card_text_white {
    font-family: 'mulish-100';
    font-weight: 100;
    color: white;
}

.card_portfolio_text_1 {
    font-size: 1rem;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.card_portfolio_text_2 {
    font-size: 1rem;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.btn {
    background: none;
    border: 1px solid white;
    color: white;
    font-family: 'mulish-500';
    font-weight: 500;
    font-size: 1.3rem;
    padding: 16px 98px;
    cursor: pointer;
}

.btn:hover {
    transition: .3s;
    border: 1px solid #FF447C;
    color: #FF447C
}


/* ==================================== */

@media (max-width:1920px) {
    .tab-wrapper label {
        max-width: 18%;
    }
}

@media (max-width:1680px) {
    .tab-label {
        font-size: 1.8rem;
    }
    .block_2 {
        padding: 64px 80px;
    }
}

@media (max-width:1440px) {
    .tab-label {
        font-size: 1.5rem;
    }
    .block_2 {
        padding: 64px 64px;
    }
    .card_portfolio {
        width: 380px;
    }
    .pic_portfolio {
        width: 380px;
        height: 380px;
    }
    .btn {
        font-size: 1.14rem;
    }
    .video {
        height: 500px;
    }
}

@media (max-width:1024px) {
    .tab-wrapper label {
        max-width: 30%;
    }
    .block_2 {
        padding: 64px 20px;
    }
    .tab-label {
        font-size: 1.4rem;
    }
    .card_portfolio {
        width: 100%;
    }
    .pic_portfolio {
        width: 100%;
        height: 100%;
    }
    .btn {
        font-size: 2rem;
        padding: 24px auto;
        width: 100%;
    }
    .card_portfolio_title_black {
        font-size: 2.5rem;
    }
    .card_portfolio_title_white {
        font-size: 2.5rem;
    }
    .card_portfolio_text_1 {
        font-size: 2rem;
    }
    .card_portfolio_text_2 {
        font-size: 2rem;
    }
    .video {
        height: 300px;
    }
}
